.MenuPublifyer {
  width: 15vw;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 100vh;
  box-shadow: 16px 0px 8px -3px rgba(0,0,0,0.1);
}

.LogoPublifyer {
  display: flex;
  width: 100%;
  height: 100px;
  align-content: center;
  align-items: center;
  justify-content: center;
  justify-items: center;
  padding-top: 25px;
}

.LogoPublifyer p{
  font-size: 20px;
  font-weight: bold;
}

.LogoPublifyer img {
  margin-right: 10px;
}

.options {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.option-dashboard,
.option-campaigns,
.option-report,
.option-profile,
.option-impactify {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.option-dashboard img,
.option-campaigns img,
.option-report img,
.option-profile img,
.option-impactify img {
  margin-right: 10px;
}
